<div class="center-container">
	<div class="regular-form container sign-up-box center">
		<div class="color-background dark-green">
			<div class="vertical-center">
				<h3 class="white">Log In</h3>
			</div>
		</div>
		<div class="fifty-spacer"></div>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		    <%= f.input :email, required: false, :class => "caption-input" %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			<div class="center-container">
				<%= f.button :submit, "LOG IN", :class => 'button-lg center' %>
			</div>
			<div class="fifty-spacer"></div>
		<% end %>
	</div>
</div>